.tabs-container {
    margin: 0 auto;
}

.tabs {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    list-style-type: none;
}

.tabs li {
    padding: 10px 12px;
    background-color: none;
    border-radius: 15px;
}

.tabs li.active {
    background-color: var(--secondry-text-color);
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tab-content {
    margin-top: 20px;
}


.course-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px 0;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  }
  
  .course-img-top {
    width: 100%;
    height: auto;
  }
  
  .course-body {
    padding: 15px;
  }
  
  .course-title {
    font-size: 1.25em;
    font-weight: bold;
  }
  
  .course-instructor, .course-description {
    font-size: 0.9em;
    color: #666;
  }
  
  .course-details {
    font-size: 0.85em;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }
  
  .course-price {
    font-size: 1.2em;
    color: #28a745;
  }
  
 

  .btn-crd{
    display: flex;

  }
  
  .carousel-control-prev{
     position: absolute;
     left: -50px;
     color: brown !important;
  }

  .carousel-control-next{
    position: absolute;
    right: -50px;
    color: brown !important;
  }
  .enroll-btn {
    cursor: pointer;
    color: #007bff !important;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
   
  }

  .enroll-btn2{
    cursor: pointer;
    color: var(--primary-text-color) !important;
    
    border-left: 1px solid black !important;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    
  }
  
  .carousel-control-prev, .carousel-control-next {
    width: 5%;
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 50%;
    padding: 10px;
  }


  @media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1080px !important;
    }
}